html {
    background: #f1f3f6;
}

.container {
    width: 100%;
    height: 100vh;
}

.container,
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cta:not(:last-child) {
    margin-right: 30px;
}

.cta {
    width: 66px;
    height: 66px;
    background: #f1f3f6;
    border-radius: 20px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0),
        7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
}

.cta .icon {
    color: #9dabc0;
    font-size: 25px;
    transition: all 399ms ease-in-out;
}

.cta:hover {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white,
        0px 0px 4px rgab(255, 255, 255, 0.2);
}

.cta:hover .icon {
    color: #24292e;
}
